
<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Droid+Sans+Mono" rel="stylesheet">
body, a, h4, p  { font-family: 'Droid Sans Mono'; font-size: 40px; }
a, h4, p  { font-family: 'Droid Sans Mono'; font-size: 16px; }
a, h1, h2       { color: #3c89bd; }
h1, h2          {font-family: 'Playfair Display'; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.4em; }
h2 		{ display:inline;}
table {
    table-layout:fixed;
    border-collapse:collapse;
    margin: 0 0 20px 0;
    border-width: 0;
    width: 200px;
    font-size: 14px;
}
th {
    text-align:left;
    background-color: #4CAF50;
    color: white;
}
tr, td, th {
    padding: 5px;
    border-color: #f2f2f2;
}
tr:nth-child(even) {background-color: #f7f7f7}
tr:hover {
    background-color: #52ea27;
}
th, td {
    width: 100px;
}
div#loading {
    width: 500px;
    height: 500px;
    display: none;
    position: absolute;
    top: 100px;
    left: 500px;
    background: url(/static/catmix.gif) no-repeat;
    cursor: wait;
    }
div#loading2 {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 100px;
    left: 500px;
    background: url(/static/catmix.gif) no-repeat;
    cursor: wait;
    }
footer {
   font-size:12px;
   position:absolute;
   right:15px;
   bottom:15px;
}

.page           { margin: 2em auto; width: 35em; border: 3.4px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fcfcfc; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
