<!doctype html>
<title>TCGA gene query</title>
<head>
  <link rel="shortcut icon" type="image/x-icon" href="./static/icon.png" />
</head>
<meta charset="utf-8"/>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<a href="/static/sources.html"> Data Sources </a>&nbsp;
<a href="/static/terms.html"> Terminology </a>&nbsp;
<a href="/static/about.html"> Version </a>&nbsp;
<a href="/index"> Home </a>
<div id="loading"></div>
<div class=page>
  <h1>The Cancer Genome Atlas</h1>
  <div class=metanav>

    <h4 style="color:red;">
      Enter valid gene of interest:
    </h4>

    <form id='userinput' method='post' action='index' >
      <p>
    Gene Symbol: <input type='text' name='name' placeholder="Gene of Interest" required/>
      </p>
      <p>
    <input type='Submit' name='submit' value='Submit' onclick="load1(event);"/>
      </p>
    </form>

  </div>
</div>
<div class=page>
  <h1>Tumor Associated Gene Prediction</h1>
  <div class=metanav>

    <h4>
    </h4>

    <form id='userinput' method='get' action='genemap' >
      <p>
      </p><h4>616 positive, curated by COSMIC
    </h4>
	<h4>1989 predicted genes, out of 17458 total</h4>
	<h4>
	<h4>
      (Random forest method modified for "Positive Unlabeled Classification")
    </h4>
      <p>
    <input type='Submit' value='View in Interaction Network' />
      </p>
    </form>

  </div>
</div>
<div class=page>
  <h1>Query of Curation/Prediction</h1>
  <div class=metanav>

    <h4>
    </h4>

      <p>
      </p><h4>
      .txt or .csv files accepted (all genes returned if left empty)
    </h4>
<form method=post enctype="multipart/form-data" action='listquery'>
      <p><input type=file name='file'>
         <input type=submit value='Upload'>
      </p></form>

  </div>
</div>
<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
function load1(event) {
var x = event.clientX;     // Get the horizontal coordinate
var y = event.clientY;     // Get the vertical coordinate
var element = document.getElementById("loading");
element.style.left = x -150 + "px";
element.style.top = y -150 + "px";
if (x==0){ 
element.style.left = "200px";
element.style.top = "100px";}
    setTimeout(loading, 0);
}
// ]]></script>
<footer>
<p>v0.9: 05-17-2017
<a href="mailto: rf@raysinensis.com">
  email</a>
<a href="https://github.com/raysinensis/tcgaAPP">
  github</a></p>
</footer>
</html>
