<!doctype html>
<title>TCGA gene query</title>
<meta charset="utf-8"/>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<a href="/static/sources.html"> Data Sources </a>&nbsp;
<a href="/static/terms.html"> Terminology </a>&nbsp;
<a href="/index"> Home </a>
<div class=page>
  <h1>The Cancer Genome Atlas</h1>
  <div class=metanav>

    <h4>
      Enter gene of interest:
    </h4>

    <form id='userinput' method='post' action='index' >
      <p>
    Gene Symbol: <input type='text' name='name' placeholder="Gene of Interest"/>
      </p>
      <p>
    <input type='Submit' name='submit' value='Submit' />
      </p>
    </form>

  </div>
</div>
<div class=page>
  <h1>Tumor Associated Gene Prediction</h1>
  <div class=metanav>

    <h4>
    </h4>

    <form id='userinput' method='get' action='genemap' >
      <p>
      </p><h4>
      1343 predicted genes, out of 17458 total (569 positive, curated by COSMIC)
    </h4>
	<h4>
      (Random forest method modified for "Positive Unlabeled Classification")
    </h4>
      <p>
    <input type='Submit' value='GO' />
      </p>
    </form>

  </div>
</div>
<div class=page>
  <h1>Query of Curation/Prediction</h1>
  <div class=metanav>

    <h4>
    </h4>

      <p>
      </p><h4>
      .txt or .csv files accepted (all genes returned if left empty)
    </h4>
<form method=post enctype="multipart/form-data" action='listquery'>
      <p><input type=file name='file'>
         <input type=submit value='Upload'>
      </p></form>

  </div>
</div>
</html>
