<!DOCTYPE html>
<html lang="en">
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
    <head>
        <meta charset="utf-8">
        <title>Results</title>

    </head>
    <body>
    <h1>Results</h1>
      <p>
    <input type='button' value='Download' onClick="window.location.href='{{filelink}}'" />
<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>
      </p>
<div>
<table border=1 cellpaddings=7>
            <tr>
                <th>Gene</th>
                <th title="TCGA designation">Tumor</th>
                <th title="Determind by MaxRank">Cutpoint</th>
                <th title="Adjusted False Discovery Rate">FDR</th>
		<th title="MUT designates significance">Mutations</th>
                <th title="INS designates significance">Insertions</th>
                <th title="DEL designates significance">Deletions</th>
            </tr>
            {% for obj in object_list %}
            <tr>
                <td>{{ obj.V1 }}</td>
                <td>{{ obj.V2 }}</td>
                <td>{{ obj.V5 }}</td>
                <td>{{ obj.V7 }}</td>
		<td>{{ obj.V8 }}</td>
                <td>{{ obj.V9 }}</td>
		<td>{{ obj.V10 }}</td>
            </tr>
            {% endfor %}
        </table>
 </div>
<div>
	<img src='/static/OUT/RSEM.png'> 
 </div>
	{% for obj in pnglist %}
	<img src={{obj}} height="400" width="400"> 
	{% endfor %}
<script>
	var myPhoto={{pnglist}};
	for (var i=0, len = myPhoto.length; i < len; ++i) {
    	var img = new Image();
    	img.src = myPhoto[i];
    	}
</script>







    </body>
</html>
